# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VSCode or PyCharm configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Model files and logs
*.h5
*.ckpt
*.pt
*.pth
*.log

# Large raw data
data/raw/
*.zip

# Environment variables
.env

# DS Store
.DS_Store
